* {
    font-family: 'Inter', sans-serif;
    font-display: swap !important;
}

/* .content-page {
    height: 97vh !important;
    min-height: 97vh !important;
    max-height: 97vh !important;
} */

#dashboard__rows .big__card{
    min-height: 390px !important;
}

#dashboard__rows .small__card{
    min-height: 183px !important;
}

/* Header */

#small__screen__header__btns {
    display: none;
}

#big__screen__header__btns {
    display: block;
}

.footer{
    background-color: #FAFBFE !important;
}

/* Remove Arrows From a Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Fonts Styles */
.page-title,
.sub-title,
h3,
h4 {
    font-weight: 500 !important;
    color: #3d3d3d !important;
}

.page-title{
    font-size: 24px !important;
}

.sub-title{
    font-size: 18px !important;
}

label,
b,
h5 {
    font-weight: 500 !important;
}

/* .btn{
    box-shadow: none !important;
    border-radius: 4px !important;
}

.btn:active,
.btn:focus{
    background-color: #6169d0;
    border-color: #6169d0;
} */

/* .btn-purple {
    background-color: purple !important;
    border-color: purple !important;
} */


/* .btn_active{
    background-color: #dfc569 !important;
    border-color: #dfc569 !important;
} */

/* .sub__btn__active{
    background-color: #dfc569 !important;
    border-color: #dfc569 !important;
    color: white !important;
} */

#job_templates .mdi{
    font-size: 18px;
}

.green{
    color: #198754;
}

.red{
    color: #dc3545;
}


.card,
.navbar-custom{
    box-shadow: none !important;
    border: 1px solid #f3f3f3 !important;
}

#big__th{
    background-color: #F6B26B !important;
    color: white !important;
}

/* ============================================ */
/* Tabgle Scroll Bar */
/* ============================================ */
/* width */
/* ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
/* Track 
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle 
::-webkit-scrollbar-thumb {
    background: #434343; 
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #434343;
}  */

/* ============================================ */
/* Sidebar */
/* ============================================ */
.leftside-menu,
.leftside-menu .logo,
.logo span.logo-lg,
body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .logo span.logo-sm{
    background: #434343 !important;
}

.leftside-menu .side-nav .side-nav-link{
    color: white !important;
}

.side-nav-item .side-nav-second-level{
    background-color: #939799 !important;
}

.side-nav-item .side-nav-second-level li a,
.side-nav-item .side-nav-second-level li a:hover{
    color: black !important;
}

.side-nav-item .side-nav-second-level .side-nav-third-level{
    background-color: #B9BABA !important;
}

.sidebarLink-active{
    background: #dfc569 !important;
    color: white !important;
}

.sidebarLink-active a{
    color: white !important;
}

.side-nav-item .expanded{
    background-color: #8E7CC3 !important;
    color: white !important;
}

/* Small Info Tables */
.small__info__tables tr:first-child th:nth-child(2){
    text-align: end !important;
}

.small__info__tables td{
    text-align: end;
    padding-right: 0px !important;
}

.small__info__tables th{
    padding-left: 0px !important;
}

.small__info__tables tr:last-child th,
.small__info__tables tr:last-child td{
    border-bottom: none !important;
}

.small__info__tables .uil-shield-check{
    color: green !important;
}

.small__info__tables .uil{
    font-size: 16px !important;
}

.mdi-square{
    font-size: 22px !important;
}

.status__icon{
    color: white;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.status__icon .mdi{
    font-size: 8px;
    margin-right: 5px;
}

.status__icon.green{
    background-color: green !important;
}

.status__icon.red{
    background-color: red !important;
}

.status__icon.gray{
    background-color: gray !important;
}


/* Custom Tables */

/* .custom__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
} */

/* .custom__table th,
.custom__table tr,
.custom__table td {
    padding: 10px !important;
} */

/* .custom__table a,
.custom__table a:hover {
    color: #7F767E !important;
} */

div.dataTables_wrapper div.dataTables_length {
    margin-bottom: 15px !important;
}

/* table th {
    font-weight: 500 !important;
} */

/* .custom__table tr th {
    background-color: #f5f5f5 !important;
}

.custom__table tr:hover {
    background-color: #f5f5f52e !important;
    cursor: pointer;
} */

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
    display: flex !important;
    justify-content: center !important;
}

/* table.dataTable tbody tr.even td, table.dataTable tbody tr.odd td{
    white-space: pre-line;
} */

/* .table>tbody>tr>td {
    vertical-align: middle !important;
} */

.n__table tr th,
.n__table tr td {
    padding: 10px 10px;
    font-size: 12px;
    border-color: #dee2e6 !important;
}

.n__table tr {
    border-color: #dee2e6 !important;
}

.custom__expenses__table:first-child td{
    width: 9.09% !important;
}

.custom__expenses__table tr th:first-child,
.expense__history tr th:first-child{
    background-color: #F6B26B !important;
    color: white !important;
    border-color: #F6B26B !important;
}

.custom__expenses__table tr th:nth-child(2),
#expense__history .expense__history tr th:nth-child(2){
    background-color: #FCE5CD !important;
    color: black;
}

#expense__history .expense__history tr:nth-child(2) th{
    background-color: #FCE5CD !important;
    color: white !important;
    color: black !important;
    width: 7.69% !important;
}



#leads__table,
#assigned__tools__table{
    font-size: 14px;
}

#leads__table .custom__table tr th,
#leads__table .custom__table tr,
#assigned__tools__table .custom__table tr th,
#assigned__tools__table .custom__table tr{
    border: 1px solid #cccccc94 !important;
}

#leads__table .custom__table tr:first-child th:first-child{
    width: 8%;
}

#leads__table .custom__table tr:first-child th:nth-child(2){
    width: 42%;
}

#leads__table .custom__table tr:first-child th:nth-child(3){
    width: 20%;
}

#leads__table .custom__table tr:first-child th:nth-child(4){
    width: 30%;
}

/* #leads__table .custom__table tr td{
    border: 1px solid #f7f7f7 !important;
} */

#goals__list__table thead tr th{
    min-width: 200px !important;
}


#vehicles__list__table thead tr th:first-child{
    min-width: 250px !important;
}

#vehicles__list__table thead tr th:nth-child(2),
#vehicles__list__table thead tr th:nth-child(3),
#vehicles__list__table thead tr th:nth-child(4),
#vehicles__list__table thead tr th:nth-child(5),
#vehicles__list__table thead tr th:nth-child(6),
#vehicles__list__table thead tr th:nth-child(7),
#vehicles__list__table thead tr th:nth-child(8),
#vehicles__list__table thead tr th:nth-child(9),
#vehicles__list__table thead tr th:nth-child(12),
#vehicles__list__table thead tr th:nth-child(13){
    min-width: 150px;
}

#vehicles__list__table thead tr th:nth-child(10),
#vehicles__list__table thead tr th:nth-child(11){
    min-width: 300px;
}

#tools__list__table thead tr th{
    min-width: 120px !important;
}

#tools__list__table thead tr th:nth-child(8){
    min-width: 250px !important;
}


/* #meetings__table thead tr th{
    min-width: 200px !important;
} */


/* Recalls Table */
.recalls__table tr,
.recalls__table th,
.recalls__table td{
    border-color: #c3c3c3;
    text-align: center;
    padding: 7px !important;
}

.recalls__table tr:first-child td,
.recalls__table tr:nth-child(2) td,
.recalls__table tr:nth-child(3) td,
.recalls__table tr:nth-child(4) td{
    text-align: center;
}

.subsidy__table tr,
.subsidy__table tr th,
.subsidy__table tr td{
    border-bottom: 0 !important;
}

/* Forms */

form label {
    margin-bottom: 5px;
    color: #3d3d3d !important;
}

form .row .col-md-4 {
    margin-bottom: 10px !important;
}

form .header-title {
    text-transform: capitalize !important;
    font-size: 18px !important;
    margin: 10px 0 !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select {
    font-size: 14px !important;
}


/* Employee */

.list-group-flush {
    padding-left: 0 !important;
}

.list-group-flush li {
    padding: 8px 0 !important;
    font-size: 14px;
}


/* Customer Feedback */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label,
.fa-star {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}


/* Customer Info */

.equipment__box p:last-child {
    margin-bottom: 0;
}


/* Purchase Orders */

#greenCircle {
    color: #0acf97 !important;
}

#redCircle {
    color: #fa5c7c !important;
}


/* Card */

.card-title b {
    font-weight: 600 !important;
}


/* Map */

#map {
    height: 300px;
    width: 100%;
}


/* Forum Rooms */

.single__room .badge {
    padding: 8px 14px !important;
    border-radius: 50px;
}

.single__room {
    border-bottom: 1px solid #ccc;
}

.single__room:last-child {
    border: none;
}

.single__room h3 a,
.single__room h3 a:hover {
    color: black;
    text-decoration: none;
}

.messages {
    background-color: #F5F7FB;
    max-height: 500px;
    overflow: auto;
}

.messages .single__message {
    border-left: 1px solid #939ba2;
    padding-left: 10px;
    margin-bottom: 15px;
}

.messages .single__message:last-child {
    margin-bottom: 0;
}

#participants {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#participants li {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
}

#participants li:last-child {
    margin-bottom: 0px !important;
}

#participants li a,
#participants li a:hover {
    color: #495057;
    text-decoration: none;
}


/* Password Hint */

#hint_id_password1,
#hint_id_new_password1 {
    display: none !important;
}

#div_id_first_name,
#div_id_last_name,
#div_id_email,
#div_id_password1,
#div_id_password2,
#div_id_username,
#div_id_password,
#div_id_type {
    margin-bottom: 10px !important;
}


/* JOB */

.project__job__info {
    max-height: 70vh;
    /* overflow: auto; */
}


/* Calendar */

#techs-list-calendar {
    list-style: none;
    padding-left: 0px;
}

#techs-list-calendar li {
    margin-bottom: 10px;
}

#techs-list-calendar li:last-child {
    margin-bottom: 0px;
}

#techs-list-calendar span {
    min-height: 25px !important;
    min-width: 25px !important;
}

#techs-list-calendar .red {
    background-color: red !important;
    color: red !important;
    border-color: red !important;
}

#techs-list-calendar .green {
    background-color: green !important;
    color: green !important;
    border-color: green !important;
}

#techs-list-calendar .brown {
    background-color: brown !important;
    color: brown !important;
    border-color: brown !important;
}

#techs-list-calendar .purple {
    background-color: purple !important;
    color: purple !important;
    border-color: purple !important;
}

#techs-list-calendar .dodgerblue {
    background-color: dodgerblue !important;
    color: dodgerblue !important;
    border-color: dodgerblue !important;
}

#techs-list-calendar .blue {
    background-color: blue !important;
    color: blue !important;
    border-color: blue !important;
}

#techs-list-calendar .black {
    background-color: black !important;
    color: black !important;
    border-color: black !important;
}

#techs-list-calendar .orange {
    background-color: orange !important;
    color: orange !important;
    border-color: orange !important;
}

#techs-list-calendar .darkgreen {
    background-color: darkgreen !important;
    color: darkgreen !important;
    border-color: darkgreen !important;
}

#techs-list-calendar .yellow {
    background-color: yellow !important;
    color: yellow !important;
    border-color: yellow !important;
}

#sub__btns .c-btn {
    background-color: purple !important;
    border-color: purple !important;
}

/* .c-green {
    background-color: green !important;
    border-color: green !important;
} */

#sub__btns .labels__btn {
    background-color: purple !important;
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
}

#sub__btns .labels__btn a {
    color: white !important;
    text-decoration: none;
}



/* Settings */

/* .settings__table {
    margin-bottom: 0px !important;
}

.settings__table tr th,
.settings__table tr td {
    text-align: center !important;
    border-color: #dee2e6 !important;
}

.settings__table tr {
    border-color: #dee2e6 !important;
}

.settings__table tr:nth-child(2) th {
    min-width: 220px !important;
}

.settings__table thead tr th {
    min-width: 100px !important;
}

.settings__table tr th:first-child {
    text-align: left !important;
} */

/* Action Icons */
.action__icons a,
.action__icons a:hover{
    color: #000 !important;
}

.action__icons i{
    font-size: 19px;
}


/* ============================================ */
/* Communication -> Tasks/Chat -> Company Memos */
/* ============================================ */
#company__memos__table thead tr th:not(:nth-child(3)){
    min-width: 150px;
}

#company__memos__table thead tr th:nth-child(3){
    min-width: 300px !important;
}

/* #job__detail__section{
    max-height: 80vh !important;
    padding: 15px !important;
    overflow: auto;
} */

/* ============================================ */
/* Job Visits Table */
/* ============================================ */
#jobs__content__list__mobile{
    display: none !important;
}

.job__visits__table thead tr th:first-child,
.job__visits__table thead tr th:nth-child(3){
    width: 11%;
    min-width: 11%;
    max-width: 11%;
}

.job__visits__table thead tr th:nth-child(2),
.job__visits__table thead tr th:nth-child(5),
.job__visits__table thead tr th:nth-child(4){
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.job__visits__table thead tr th:nth-child(6){
    width: 19%;
    min-width: 19%;
    max-width: 19%;
}

.job__visits__table thead tr th:nth-child(7){
    width: 29%;
    min-width: 29%;
    max-width: 29%;
}

/* ============================================ */
/* Job Scheduling Table - JOBS */
/* ============================================ */
#job__schedule__table table thead tr th{
    min-width: 170px !important;
}

#job__schedule__table table thead tr th:nth-child(5){
    min-width: 250px !important;
}

#job__schedule__table__mobile{
    display: none !important;
}

.job__project__log__table thead tr th{
    width: 12% !important;
    min-width: 12% !important;
    max-width: 12% !important;
}

.job__project__log__table thead tr th:nth-child(4){
    width: 19% !important;
    min-width: 19% !important;
    max-width: 19% !important;
}

.job__project__log__table thead tr th:nth-child(5){
    width: 40% !important;
    min-width: 40% !important;
    max-width: 40% !important;
}

.job__parts__equipments__table thead tr th:first-child{
    min-width: 50px !important;
}

.job__parts__equipments__table thead tr th:last-child{
    min-width: 100px !important;
    text-align: center !important;
}

.job__parts__equipments__table thead tr th:nth-child(2),
.job__parts__equipments__table thead tr th:nth-child(3),
.job__parts__equipments__table thead tr th:nth-child(7),
.job__parts__equipments__table thead tr th:nth-child(8),
.job__parts__equipments__table thead tr th:nth-child(9),
.job__parts__equipments__table thead tr th:nth-child(10){
    min-width: 120px !important;
}

.job__parts__equipments__table thead tr th:nth-child(11),
.job__parts__equipments__table thead tr th:nth-child(12),
.job__parts__equipments__table thead tr th:nth-child(13){
    min-width: 150px !important;
}

.job__parts__equipments__table thead tr th:nth-child(4),
.job__parts__equipments__table thead tr th:nth-child(5),
.job__parts__equipments__table thead tr th:nth-child(6){
    min-width: 250px !important;
}

.job__invoices__table thead tr th:first-child,
.job__invoices__table thead tr th:nth-child(2),
.job__invoices__table thead tr th:nth-child(6),
.job__invoices__table thead tr th:nth-child(7),
.job__invoices__table thead tr th:nth-child(8),
.job__invoices__table thead tr th:nth-child(9){
    width: 8% !important;
    max-width: 8% !important;
    min-width: 8% !important;
}

.job__invoices__table thead tr th:nth-child(3){
    width: 12% !important;
    max-width: 12% !important;
    min-width: 12% !important;
}

.job__invoices__table thead tr th:nth-child(4),
.job__invoices__table thead tr th:nth-child(5){
    width: 20% !important;
    max-width: 20% !important;
    min-width: 20% !important;
}

/* ============================================ */
/* Reports - Phone System - Communication */
/* ============================================ */
/* #reports__table .duration{
    background-color: #f3f3f3;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50px;
    color: black;
}

#reports__table .report__data p{
    margin-bottom: -5px !important;
}

#reports__table .report__data small{
    font-size: 11px;
    color: gray;
}

#reports__table .uil{
    font-size: 20px;
} */



/* .stickysss {
    position: fixed;
    top: auto;
    right: auto;
    left: auto;
    z-index: 1030;
    background-color: #FAFBFE !important;
  } */

  
/* ============================================ */
/* Jobs Table on Calendar */
/* ============================================ */
/* #jobsCalendarTable thead tr th,
#jobsCalendarTable tbody tr td,
#jobWeeklyStatsCalendar thead tr th,
#jobWeeklyStatsCalendar tbody tr td{
    text-align: center !important;
} */

/* #jobsCalendarTable .jobCalendarBadge{
    padding: 6px 12px !important;
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #6c757d !important;
    border-radius: 5px !important;
} */

.fc-timegrid-slot {
    height: 2em !important; 
    border-bottom: 0 !important;
}